<div class="row">
	<div class="small-5 columns">
		<a href="/"><img src="/assets/DwellCandyLogo.jpg"/></a>
	</div>
</div>

<div class="row">
	<div class="slideshow-wrapper">
		<div class="preloader"></div>
		<ul id="tour-orbit" data-orbit data-options="timer_speed:2500; bullets:false;">
			<li>
				<img src='/assets/tour1.jpg'/>
			</li>
			<li>
				<img src='/assets/tour2.jpg'/>
			</li>
			<li>
				<img src='/assets/tour3.jpg'/>
			</li>
			<li>
				<img src='/assets/tour4.jpg'/>
			</li>
			<!-- <li>
				<img src='/assets/tour5.jpg'/>
			</li> -->
		</ul>
</div>