<div class="row">
	<div class="small-4 columns">
		<a href="/"><img src="/assets/DwellCandyLogo.jpg"/></a>
	</div>
	<div class="small-8 columns">
		<a href="#" class="home-top-bar">OUR PROCESS</a>
		<a href="#" class="home-top-bar">DESIGN PACKAGES</a>
		<a href="#" class="home-top-bar">CASE STUDIES</a>
		<a href="#" class="home-top-bar">OUR PEOPLE</a>
		<a href="#" class="home-top-bar">BLOG STORIES</a>
	</div>
</div>

<div class="row">
	<div class="slideshow-wrapper">
		<div class="preloader"></div>
		<ul id="tour-orbit" data-orbit data-options="timer_speed:2500; bullets:false; slide_number:false;">
			<li>
				<img src='/assets/tour1.jpg'/>
			</li>
			<li>
				<img src='/assets/tour2.jpg'/>
			</li>
			<li>
				<img src='/assets/tour3.jpg'/>
			</li>
			<li>
				<img src='/assets/tour4.jpg'/>
			</li>
		</ul>
</div>