<div class="row">
	<div class="small-4 columns">
		<a href="/"><img id="main-logo" src="/assets/DwellCandyLogo.jpg"/></a>
	</div>
	<div class="small-8 columns">
		<ul class="left button-group">
			<li><a href="#" class="home-bar">OUR PROCESS</a></li>
			<li><a href="#" class="home-bar">DESIGN PACKAGES</a></li>
			<li><a href="#" class="home-bar">CASE STUDIES</a></li>
			<li><a href="#" class="home-bar">OUR PEOPLE</a></li>
			<li><a href="#" class="home-bar">BLOG STORIES</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="slideshow-wrapper">
		<div class="preloader"></div>
		<ul id="tour-orbit" data-orbit data-options="timer_speed:2500; bullets:false;">
			<li>
				<img class="tour-image" src='/assets/tour1.jpg'/>
			</li>
			<li>
				<img class="tour-image" src='/assets/tour2.jpg'/>
			</li>
			<li>
				<img class="tour-image" src='/assets/tour3.jpg'/>
			</li>
			<li>
				<img class="tour-image" src='/assets/tour4.jpg'/>
			</li>
		</ul>
</div>

<div class="row">
	<div class="small-12 columns center-image">
		<a href="#"><img id="home-message" src="/assets/home-message.png"/></a>
	</div>
</div>

<div class="row">
	<div class="small-4 columns">
		<img id="arrow" src="/assets/arrow.png"/>
		<h4 class="text size-large">See How We Work</h4>
		<p class="text">We make interior design easy, fun and affordable. Check us out in this video!</p>
	</div>
	<div class="small-8 columns center-image" id="demo">
		<div class="videowrapper">
			<iframe width="560" height="315" src="//www.youtube.com/embed/iqeUlYbIXHs" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>

<footer class="row">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-6 columns center-image">
				<h4><a href="#" class="text size-large">About Us</a></h4>
			</div>
			<div class="small-6 columns center-image">
				<h4><a href="www.facebook.com/dwellcandy" class="text size-large">Facebook</a></h4>
			</div>
		</div>
		<div class="row">
			<p class="text size-small">© Copyright 2013 Dwell Candy</p>
		</div>
	</div>
</footer>