html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#body {
	padding-bottom: 10em;
}

ul {
	list-style-type: none;
}

/* NAV BAR */
.top-bar {
	height: 60px;
}

#navbar-logo {
	float: left;
	height: 60px;
	width: 60px;
	border: black;
}

.contain-to-grid.sticky.fixed {
	height: 60px;
}

#log-in {
	padding-left: 25px;
}

#sign-in-container {
	padding-top: 0.2em;
}

#signed-in-list {
	padding-top: 1em;
}

/* STATIC HOME PAGE */

#home-error {
	padding-top: 30px;
}

.orbit-container {
	height: 450px;
}

.tour-image {
	max-height: 450px;
}

.orbit-container .orbit-timer { 
	visibility: hidden; 
}

.orbit-container .orbit-slide-number { 
	visibility: hidden; 
}

#main-logo {
	padding-top: 45px;
}

.home-bar {
	display: inline-block;
	font-size: 1vw;
	color: #777;
	font-family: 'Open Sans', sans-serif;
	padding-left: 12px;
	padding-top: 80px;
}

.home-bar:hover {
	color: black;
}

#home-message {
	padding-top: 50px;
}

.center-image {
	text-align: center;
}

#demo {
	padding-top: 50px;
}

#arrow {
	padding-top: 70px;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 515px) {
   .home-bar { 
   	font-size: 0.95vw; 
   }
}

@media only screen and (min-width: 1530px) {
   .home-bar { 
   	font-size: 0.90vw; 
   }
}

/* MISC */

.text {
	font-size: 1.2vw;
	color: #2C3539;
	font-family: 'Open Sans', sans-serif;
}

.text.size-large {
	font-size: 1.8vw;
}

.text.size-small{
	font-size: 0.95vw;
}

.text-white {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

/* Footer */

.text.footer {
	color: #666;
}

.text.footer.size-large:hover {
	color: gray;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 7em;
	padding-top: 30px;
	background-color: black;
}