.orbit-container .orbit-timer { 
	visibility: hidden; 
}

.orbit-container .orbit-slide-number { 
	visibility: hidden; 
}

.home-top-bar {
	display: inline-block;
	font-size:90%;
	color: #777;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 12px;
	padding-top: 35px;
}

.home-top-bar:hover {
	color: black;
}