ul {
	list-style-type: none;
}

.top-bar {
	color: #555;
	height: 60px;
}

#navbar-logo {
	height: 60px;
	width: 60px;
	border: black;
}

.orbit-container {
	max-height: 450px;
}

#tour1 {
	background:url(/assets/tour1.jpg) no-repeat center center;
}

#tour2 {
	background:url(/assets/tour2.jpg) no-repeat center center;
}

#tour3 {
	background:url(/assets/tour3.jpg) no-repeat center center;
}

#tour4 {
	background:url(/assets/tour4.jpg) no-repeat center center;
}

.orbit-container .orbit-timer { 
	visibility: hidden; 
}

.orbit-container .orbit-slide-number { 
	visibility: hidden; 
}

.home-top-bar {
	display: inline-block;
	font-size:0.9em;
	color: #777;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 12px;
	padding-top: 35px;
}

.home-top-bar:hover {
	color: black;
}

#home-message {
	padding-top: 50px;
}

.center-image {
	text-align: center;
}

#demo {
	padding-top: 50px;
}

#arrow {
	padding-top: 70px;
}

.text {
	color: #2C3539;
	font-family: Arial, Helvetica, sans-serif;
}

/*@media only screen and (max-width: 320px) {

   .home-top-bar { font-size: 0.3em; }

}*/